# Google Cloud VM へアップロード。
# 実物はgithubへアップロードなし。

[Unit]
Description=Public Form Backend Application
After=network.target postgresql.service

[Service]
# シークレットキーを環境変数として設定。
Environment="NODE_ENV=example"
Environment="DB_HOST=example" 
Environment="DB_PORT=example"
Environment="DB_USER=example"
Environment="example"
Environment="DB_NAME=example"
Environment="example@gmail.com"
Environment="GMAIL_APP_PASSWORD=example"
Environment="PORT=example"

WorkingDirectory=/var/www/html/public-form-scratch/backend
ExecStart=/usr/bin/node server.js
Restart=always
User=www-data
Group=www-data

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=public-form-backend

[Install]
WantedBy=multi-user.target