# Google Cloud VM へアップロード

[Unit]
Description=Public Form Backend Application
After=network.target postgresql.service

[Service]
# シークレットキーを環境変数として設定
# 実物はgithubへアップロードなし。
Environment="NODE_ENV=production"
Environment="DB_HOST=localhost" 
Environment="DB_PORT=5432"
Environment="DB_USER=matsunaganaoki"
Environment="DB_PASSWORD=t69s5rdrvpus"
Environment="DB_NAME=public_form"
Environment="GMAIL_USER=naoki130517@gmail.com" # 本番環境のGmailアドレス
Environment="GMAIL_APP_PASSWORD=jjfu ljfy wrrw zegv"
Environment="PORT=3000"

WorkingDirectory=/var/www/html/public-form-scratch/backend
ExecStart=/usr/bin/node server.js
Restart=always
User=www-data
Group=www-data

StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=public-form-backend

[Install]
WantedBy=multi-user.target